@mixin displayProperties($display,
  $width,
  $justify_content,
  $align_items,
  $flex_flow) {
  display: $display;
  width: $width;
  justify-content: $justify_content;
  align-items: $align_items;
  flex-flow: $flex_flow;
}

@mixin paddingTablet-BorderBox {
  padding: 0 2.875rem;
  box-sizing: border-box;
}

@mixin fontStyle($style, $weight, $size, $line_height) {
  font: {
    style: $style;
    weight: $weight;
    size: $size;
  }

  line-height: $line_height;
}

@mixin fontPodkova($style, $weight, $size, $line_height) {
  font: {
    family: Podkova;
    style: $style;
    weight: $weight;
    size: $size;
  }

  line-height: $line_height;
}

body {
  margin: 0;

}

// .company-qualification {
//   h1 {
//     @include fontStyle(normal, bold, 119px, 100%);
//     color: white;
//     max-width: 1318px;
//     padding-top: 16.875rem;
//     margin: 0;
//   }
// }

.container {
  @include displayProperties(flex, 100%, space-between, stretch, unset);
  max-width: 1620px;
}

.second-block {
  @include displayProperties(flex, 100%, unset, center, column);
  padding-top: 9.375rem;
  background-color: #fff;

  & .container {
    align-items: initial;
    justify-content: flex-end;
  }
}

// .center-section {
//   flex: 1 1 1250px;
//   max-width: 1250px;
//   margin-left: auto;
// }

.navbar-collapse {
  @include fontStyle(normal, 600, 14px, 100%);
}

.achievement-block {
  width: 100%;
  max-width: 1065px;
}

pre {
  display: none;
}

.company-main-description {
  padding: 6.25rem 0 15.5rem 0;
  max-width: 440px;

  p {
    @include fontStyle(normal, bold, 16px, 165%);
    color: white;
  }
}

.title__text {
  @include displayProperties(flex, auto, unset, center, wrap);

  svg {
    padding-right: 20px;
  }

  p {
    @include fontStyle(normal, 600, 16px, 140%);
    margin: 0;
  }
}

.second-block__info {
  @include fontStyle(unset, 400, 46px, unset);
  padding-bottom: 12.5rem;

  p {
    margin: 0;
    line-height: 74px;
  }

  span {
    @include fontStyle(italic, inherit, inherit, 160%);
  }
}

.fixed-body{
  position: fixed;
}

.total-hours-number {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.achievement__item {
  @include displayProperties(flex, 100%, unset, unset, unset);

  p {
    margin: 5rem 9.813rem 0 auto;
  }
}

.achievement__item--right {
  flex-flow: row-reverse;

  p {
    margin: 5rem 7rem 0 auto;
  }
}

.achievement__description {
  @include displayProperties(flex, 100%, unset, unset, unset);
  max-width: 440px;
  margin-bottom: 50px;
  border-bottom: 1px solid rgba(24, 26, 33, 0.3);

  span:nth-child(1) {
    @include fontPodkova(unset, unset, 119px, 100%);
    font-feature-settings: 'pnum'on, 'lnum'on;
  }
}

.achievement__item__percentage {
  @include fontPodkova(unset, 800, 16px, 100%);
  padding: 10px;
}

.total-hours-worked {
  @include displayProperties(flex, 100%, space-between, unset, unset);
  max-width: 1250px;
  margin: 150px 0 200px;
  border-bottom: 1px solid rgba(24, 26, 33, 0.3);
}

.total-hours-worked__item {
  @include fontPodkova(unset, unset, 400px, 100%);
  width: 100%;
}

.total-hours-worked__text {
  @include displayProperties(flex, auto, unset, center, unset);
  @include fontStyle(normal, 400, 46px, 55px);
  white-space: nowrap;
  color: #181a21;

  span {
    transform: rotate(-90deg);
  }
}

.second-block-container {
  @include displayProperties(flex, 100%, unset, center, column);
}

.navbar-collapse__link {
  padding-left: 15px;
  text-decoration: none;
  color: #8c8d90;
}

.navbar-collapse__link--active {
  a {
    color: #f1f1f1;
  }

  path {
    fill: #f1f1f1;
    visibility: visible;
  }
}

.navbar-collapse__list {
  list-style-type: none;
  padding-left: 0;
}

.navbar {
  z-index: 15;
  padding-top: 16.125rem;
  transition: padding 0.1s;
  mix-blend-mode: difference;

  .navbar-toggle {
    display: none;
  }
}

.navbar-logo {
  a {
    padding: 0;
  }
}

.navbar-collapse__item {
  display: flex;
  vertical-align: middle;
  padding: 15px 0;
}

.navbar-top {
  @include displayProperties(flex, auto, unset, center, unset);

  svg:first-child {
    padding-right: 10px;
  }
}

.navbar--fixed {
  position: fixed;
  left: 9.375rem;
  transition: 0.5s;
}

.display-none {
  display: none !important;
}

.display-hide {
  left: -50%;
  transition: all ease-in-out 0.5s;
}

.navbar--light {
  .navbar-collapse__item--active {
    a {
      color: #181a21;
    }

    path {
      fill: #181a21;
    }
  }

  .navbar-toggle__burger {
    background-color: #181a21;
  }

  .navbar-toggle__burger::after,
  .navbar-toggle__burger::before {
    background-color: #181a21;
  }

  .navbar-contact {
    span {
      color: #181a21;
    }

    path {
      stroke: #181a21;
    }
  }

  .navbar-tel-address {
    span {
      color: #181a21;
    }
  }
}

.performance {
  @include displayProperties(flex, 100%, unset, unset, unset);
  max-width: 1770px;
  background-color: #f3feff;
  align-self: flex-end;
}

.performance__block {
  @include displayProperties(flex, 100%, center, unset, unset);
  height: 100%;
  max-width: 1620px;
}

.performance-category {
  @include displayProperties(flex, 100%, unset, unset, column);
  padding: 9.375rem 0 4.688rem 23.125rem;
  max-width: 1250px;
  flex: 3 1 1200px;
}

.performance-category__header {
  @include fontStyle(normal, 400, 46px, 55px);
  max-width: 440px;
  width: 100%;
  padding-bottom: 25px;
}

.performance-category__description {
  width: 100%;
  @include fontStyle(normal, 400, 16px, 165%);
  vertical-align: middle;
}

.performance-category__item {
  display: flex;
  border-bottom: 1px solid rgba(24, 26, 33, 0.3);
  margin-bottom: 75px;
}

.technologies {
  max-width: 1250px;
  width: 100%;
  padding-top: 9.375rem;

  &>.title {
    margin-bottom: 25px;
  }
}

.technologies-name {
  @include displayProperties(flex, 50%, unset, center, unset);
  @include fontPodkova(unset, unset, 119px, 100%);
  padding: 7.8125rem 0;
}

.technologies-info {
  @include displayProperties(flex, 50%, center, center, unset);
}

.technologies {
  @include displayProperties(flex, auto, unset, unset, column);
  max-width: 1250px;
  flex: 3 1 1200px;
  padding-bottom: 12.75rem;
  padding-left: 23.125rem;

  & .title {
    margin-bottom: 1.563rem;
  }
}

.technologies-item:last-child {
  border-bottom: none;
}

.technologies-item {
  @include displayProperties(flex, 100%, unset, unset, unset);
  border-bottom: 1px solid rgba(24, 26, 33, 0.3);
}

.technologies-info-block {
  @include displayProperties(flex, 100%, space-between, unset, unset);
  max-width: 14.75rem;
}

.technologies-info-column {
  @include displayProperties(flex, 100%, unset, unset, column);
  max-width: 6.875rem;
}

.technologies-info-column__item {
  p {
    margin: 8px 0;
    @include fontStyle(normal, 500, 16px, 19px);
    color: #181a21;
    opacity: 0.7;
    white-space: nowrap;
  }
}

.technologies-name__number {
  span {
    @include fontPodkova(unset, bold, 16px, 140%);
    padding-right: 130px;
  }
}

.third-block {
  @include displayProperties(flex, 100%, unset, center, column);
  background-color: #181a21;
  color: #f1f1f1;
  overflow: hidden;
}

.meet-people {
  @include displayProperties(flex, auto, unset, unset, column);
  flex: 3 1 1200px;
  max-width: 1250px;
  padding-left: 23.125rem;

  &>.title {
    border-bottom: 1px solid rgba(241, 241, 241, 0.3);
    margin: 0;
  }
}

.meet-people__header {
  @include fontStyle(normal, 400, 119px, 110%);
  letter-spacing: 0.03em;
  color: #f1f1f1;
  padding-bottom: 205px;
  padding-top: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  animation: animate 6s linear infinite;

  p {
    margin: 0;
  }
}

@keyframes animate {
  0% {
    transform: translate(120%, 0);
  }

  100% {
    transform: translate(-120%, 0);
  }
}

@keyframes animate-mobile {
  0% {
    transform: translate(100%, 0);
  }

  100% {
    transform: translate(-250%, 0);
  }
}

@keyframes animate-table {
  0% {
    transform: translate(100%, 0);
  }

  100% {
    transform: translate(-150%, 0);
  }
}

.meet-people {
  width: 100%;
}

.meet-people-specialization--fullstack {
  display: flex;
  border-bottom: 1px solid rgba(241, 241, 241, 0.3);

  &>.meet-people-name {
    @include displayProperties(flex, 100%, center, unset, column);
    max-width: 440px;
    padding-left: 40px;
    box-sizing: border-box;
  }
}

.customers-black-square {
  @include displayProperties(flex, 100%, unset, unset, unset);
  flex: 0 5 150px;
  background-color: #181a21;
}

.fourth-block {
  @include displayProperties(flex, auto, unset, center, column);
  background-color: #181a21;
  padding-left: 9.375rem;
}

.meet-people-name__item {
  height: 70px;
}

.meet-people-name {
  @include displayProperties(flex, 100%, unset, unset, unset);
  max-width: 440px;
  padding: 15px 0 0 40px;
  box-sizing: border-box;

  p {
    @include fontStyle(unset, unset, 16px, 140%);
    color: #f1f1f1;
    opacity: 0.6;
  }
}

.meet-people-workers {
  width: 100%;
  margin: 3.125rem 0;
}

.meet-people-workers__item {
  @include displayProperties(flex, auto, unset, center, unset);
  transition: background-color 0.4s, color 0.4s, stroke 0.4s;
  height: 70px;
  border-bottom: 1px solid rgba(241, 241, 241, 0.3);

  &:hover {
    background-color: #f1f1f1;
    color: #181a21;

    span,
    a {
      color: #181a21;
    }

    path {
      transition: stroke 0.4s;
      stroke: #181a21;
    }
  }

  span,
  a {
    transition: color 0.4s;
  }

  path {
    transition: stroke 0.4s;
  }
}

.meet-people__job {
  display: flex;
  min-width: 168px;

  span {
    @include fontStyle(italic, 400, 16px, 140%);
    letter-spacing: 0.05em;
    color: #f1f1f1;
    opacity: 0.7;
    padding-left: 10px;
  }
}

.meet-people-employee__name {
  @include fontStyle(normal, 500, 16px, 140%);
}

.meet-people-employee {
  @include displayProperties(flex, 100%, space-between, unset, unset);
}

.meet-people-employee__linkedIn-profile {
  a {
    @include fontStyle(unset, 400, 16px, 140%);
    text-decoration: none;
    color: #f1f1f1;
  }

  svg {
    margin: 0 20px 0 15px;
  }
}

.customers-header {
  @include displayProperties(flex, 100%, unset, unset, unset);
  background-color: white;

  .title {
    @include displayProperties(flex, 100%, unset, unset, unset);
    flex: 4 1 1200px;
    border: none;
  }

  .title__text {
    padding: 9.375rem 0 1.875rem 0;
    width: 100%;
    margin-left: 23.125rem;
    border-bottom: 1px solid rgba(24, 26, 33, 0.3);
  }

  p {
    color: black;
  }

  &>.container {
    flex: 5 1 1200px;
  }
}

.customers {
  @include displayProperties(flex, 100%, unset, unset, row);
  box-sizing: border-box;
  background-color: #fff;

  .container {
    flex-wrap: wrap;
    padding-left: 23.125rem;
    box-sizing: border-box;
  }
}

.customers-logo {
  @include displayProperties(flex, 100%, space-between, center, unset);
  margin: 60px 0;
}

.customers-slider-info-block {
  @include displayProperties(flex, auto, unset, unset, column);
  flex: 3 1 1200px;
  max-width: 1250px;
}

.fifth-block {
  @include displayProperties(flex, auto, center, center, column);
  background-color: #181a21;
  padding-top: 250px;
  box-sizing: border-box;
  min-height: 100vh;

  p {
    margin: 0;
  }

  .container {
    justify-content: space-between;
    margin-bottom: 14.375rem;
  }

  .container--footer-grid {
    display: grid;
    grid-template-columns: 22.83% 50.01% 27.16%;
    margin-bottom: 0;
  }
}

.ready-discuss__ready {
  @include fontStyle(unset, 400, 119px, 110%);
  width: 100%;
  max-width: 370px;
  color: #f1f1f1;
}

.ready-discuss__discuss {
  @include fontStyle(unset, 500, 119px, 110%);
  color: #f1f1f1;
  max-width: 440px;
}

.email-section {
  @include displayProperties(flex, auto, flex-end, unset, unset);
  flex-grow: 4;
}

.email-links {
  display: flex;

  svg {
    padding-left: 15px;
  }
}

.email-links__item {
  padding-right: 3.3rem;
}

.social-media {
  // @include displayProperties(flex, 100%, unset, unset, column);
  // max-width: 370px;

  svg {
    padding-left: 1.25rem;
  }

  a {
    @include fontStyle(unset, 500, 16px, 19px);
    text-decoration: none;
    color: #f1f1f1;
  }

  .social-media__item {
    padding-top: 0.938rem;

    &:first-child {
      padding-top: 0;
    }
  }
}

.linkedin-block {
  svg {
    padding-left: 1.875rem;
  }
}

.email {
  @include displayProperties(flex, 100%, unset, center, wrap);
  max-width: 440px;

  a {
    @include fontStyle(unset, 500, 16px, 19px);
    text-decoration: none;
    color: #f1f1f1;
  }
}

.email-btn {
  @include displayProperties(flex, 100%, unset, unset, unset);
  min-width: 300px;
  height: 6.25rem;
  box-sizing: border-box;
  background-color: #181a21;
  border: 1px solid white;
}

.email-btn__link {
  @include displayProperties(flex, 100%, space-between, center, unset);
  height: 100%;
  padding: 0 30px;
  color: white;
  text-decoration: none;
}

.footer {
  @include displayProperties(flex, 100%, center, flex-end, unset);
  background-color: #181a21;
  padding-bottom: 6.25rem;
}

.footer-nav__links {
  max-width: 625px;
  flex-grow: 2;
  @include displayProperties(flex, auto, space-between, flex-end, unset);
}

.footer-address {
  @include displayProperties(flex, 100%, flex-end, unset, column);
  // max-width: 440px;

  p {
    @include fontStyle(unset, 500, 16px, 100%);
    color: #f1f1f1;
    margin: 0;
  }
}

.footer__address-company {
  padding-top: 1.25rem;
}

.footer-nav {
  @include displayProperties(flex, 100%, flex-start, unset, unset);
}

.footer-nav__item {
  a {
    @include fontStyle(unset, 500, 14px, 100%);
    text-decoration: none;
    color: #9a9b9e;
  }
}

.title {
  padding-bottom: 30px;
  border-bottom: 1px solid #181a21;
}

.title--about {
  margin-bottom: 6.25rem;
}

.meet-people-specialization {
  display: flex;
  border-bottom: 1px solid rgba(241, 241, 241, 0.3);
}

.meet-people-specialization--sales {
  display: flex;
  padding-bottom: 8.2rem;
}

.slider-item-block {
  @include displayProperties(flex, 100%, space-between, unset, unset);
  height: 100%;
}

.info-customer__name {
  p {
    @include fontStyle(unset, 400, 46px, 55px);
    margin: 0;
    white-space: nowrap;
  }
}

.info-customer__company {
  @include fontStyle(unset, 400, 16px, 19px);
}

.ready-discuss {
  @include displayProperties(flex, 100%, space-between, unset, unset);
  max-width: 810px;
}

.img-customer {
  display: flex;

  img {
    width: 100%;
    height: 100%;
  }
}

.container-right-side {
  @include displayProperties(flex, 100%, unset, unset, unset);
  overflow: hidden;
  align-self: flex-end;
  padding-top: 3.75rem;
  padding-left: 23.125rem;
  box-sizing: border-box;
  background-color: #fff;
}

.name-customer {
  @include fontStyle(normal, 400, 46px, 55px);
  color: #181a21;
}

.customers-company {
  @include fontStyle(normal, 400, 16px, 19px);
  color: #181a21;
}

.info-customer {
  @include displayProperties(flex, auto, unset, baseline, column);
  padding-right: 2rem;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-pagination {
  display: inline-flex;
  position: unset !important;
  padding-right: 9.375rem;
  box-sizing: border-box;

  .swiper-pagination-bullet {
    width: calc(100% / 9);
    height: 0;
    border: 2px solid rgba(24, 26, 33, 0.2);
    border-radius: 0;
    float: left;
  }
}

.swiper-controls-block {
  @include displayProperties(flex, 100%, flex-end, unset, unset);
  padding: 4.6875rem 0 1.5rem 0;
  margin-right: 6.25rem;

  button {
    width: 11px;
    height: 17px;
    border: none;
    cursor: pointer;

    &:focus {
      outline: 0;
    }
  }
}

.swiperbutton-next {
  margin: 0 9.375rem 0 6.25rem;
  background: url('../img/ButtonRight.svg') no-repeat;
}

.swiperbutton-prev {
  background: url('../img/ButtonLeft.svg') no-repeat;
}

.swiper-container-horizontal {
  &>.swiper-pagination-bullets {
    .swiper-pagination-bullet {
      margin: 0 !important;
    }
  }
}

.swiper-pagination-bullet-active {
  border: 2px solid rgba(24, 26, 33, 1) !important;
}

.navbar-logo {
  display: flex;
}

#teymax-link {
  @include displayProperties(flex, auto, unset, center, unset);
  padding-left: 0;
}

.navbar-toggle {
  @include displayProperties(flex, 40px, center, center, unset);
  position: relative;
  height: 40px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &.open {
    .navbar-toggle__burger {
      transform: translateX(-25px);
      background: transparent;

      &::before {
        transform: rotate(-45deg) translate(17px, 17px);
      }

      &::after {
        right: 0;
        width: 25px;
        transform: rotate(45deg) translate(17px, -17px);
      }
    }
  }
}

.navbar-toggle__burger {
  width: 25px;
  // height: 2px;
  // background: #f1f1f1;
  // border-radius: 5px;
  transition: all 0.3s ease-in-out;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 2px;
    background: #fff;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
  }

  &::before {
    transform: translateY(-4px);
  }

  &::after {
    right: 7px;
    width: 20px;
    transform: translateY(4px);
  }
}

.display-show {
  // rofl
  // max-height:1000px and max-height:100%
  max-height: 1000px !important;
  // .navbar-collapse{
  //   transform: translateY(0%);
  // }
}

.navbar-contact-links {
  display: none;
}

.navbar-tel-address {
  display: none;
}

.navbar-contact {
  display: none;
}

@media only screen and (max-width: 374px) {
  .navbar-collapse__list {
    margin-bottom: 2.5rem;
  }
  .navbar-contact{
    margin-bottom: 2.5rem;
  }

  .technologies {
    width: 100%;
  }

  .technologies-name {
    font-size: 4.3rem;
  }
}

@media only screen and (min-width: 375px) and (max-width: 767px){
  .technologies-name {
    font-size: 5rem;
  }

  .navbar-collapse__list {
    margin-bottom: 7.188rem;
  }

  .navbar-contact{
    margin-bottom: 3.125rem;
  }
}

@media only screen and (max-width: 500px) {
  .technologies-info-block {
    flex-wrap: wrap;
  }
}

.social-media__item--linkedIn {
  svg {
    padding-left: 1.9rem;
  }
}

@media only screen and (max-width: 640px) {
  .slider-item-block {
    flex-wrap: wrap;
  }

  .slide-wrapper {
    overflow: hidden;
  }

  .second-block__info {
    span {
      font-size: 2rem;
    }
  }

  .separate-info-block-left {
    &>.achievement__description {
      flex-direction: row;
    }
  }

  .performance-category__item {
    flex-wrap: wrap;
  }

  .design-category {
    margin-bottom: 8rem;
  }

  .technologies-item {
    @include displayProperties(inherit, inherit, center, unset, wrap);
  }

  .technologies-name {
    margin: 0;
    padding: 5rem 0;
  }

  .technologies-info {
    width: 100%;
    margin-bottom: 3rem;
  }

  .technologies-info-column {
    @include displayProperties(inherit, 100%, space-evenly, unset, row);
    max-width: none;
  }

  .customers-logo {
    &>div {
      width: 100%;
      padding: 1rem 0;
      margin: 0;
    }
  }

  .meet-people__header {
    p {
      animation: animate-mobile 6s linear infinite;
    }
  }
}

@media only screen and (max-width: 767px) {
  .navbar {
    flex-wrap: wrap;
    padding: 1.563rem 0 0 0;
    box-sizing: border-box;

    .navbar-top {
      padding: 0.5rem 0;
      width: 100%;
      height: 56px;
    }

    .navbar-toggle {
      display: flex;
    }

    .navbar-collapse {
      flex-direction: column;
      // display: none;
      // transform: translateY(-150%);
      max-height: 0;
      height: 100vh;
      transition: max-height ease-out 0.9s;
      overflow: hidden;
      width: 100%;
    }

    .navbar-collapse__list {
      width: 100%;
    }

    .container {
      flex-wrap: wrap;
    }
  }

  .navbar-contact {
    display: flex;
    justify-content: space-between;

    span {
      @include fontStyle(normal, 600, 16px, 19px);
      color: #f1f1f1;
    }

    a {
      text-decoration: none;
    }
  }

  .navbar-contact-links {
    flex-direction: column;

    span {
      padding-right: 0.938rem;
    }
  }

  

  .navbar-social__item {
    span {
      padding-right: 1.563rem;
    }

    padding-bottom: 0.938rem;
  }

  .navbar-social__item--linkedIn {
    span {
      padding-right: 2.188rem;
    }

    padding-bottom: 0;
  }

  .navbar__tel {
    padding-bottom: 0.938rem;
  }

  .navbar__address {
    margin-bottom: 1.25rem;
  }

  .navbar-contact-links,
  .navbar-tel-address {
    display: flex;
  }

  .navbar-tel-address {
    flex-direction: column;

    span {
      @include fontStyle(normal, 600, 0.875rem, 100%);
      color: #f1f1f1;
    }

    a {
      text-decoration: none;
    }
  }

  .navbar-contact__item:last-child {
    padding-top: 0.938rem;
  }

  .achievement__description {
    max-width: none;
  }

  .navbar-collapse__item {
    a {
      font-size: 1.25rem;
    }

    display: block;
  }

  .technologies-name {
    flex-wrap: wrap;
  }

  .technologies-name__number {
    width: 100%;
  }

  .technologies-info-block {
    padding-left: 0;
    max-width: none;
    justify-content: unset;
  }

  .technologies-info-column {
    flex-direction: column;
    width: 44%;
  }

  .company-qualification {
    h1 {
      font-size: 3.25rem;
    }

    padding-top: 9.563rem;
  }

  .company-main-description {
    p {
      font-size: 1rem;
      line-height: 165%;
      font-weight: 500;
    }

    padding: 5.125rem 0 7.313rem 0;
  }

  .container {
    padding: 0 1.25rem;
  }

  .achievement__item--right {
    flex-direction: row;
  }

  

  .technologies-info--database-bottom {
    margin-bottom: 1.375rem;
  }

  .technologies-name__name {
    padding: 0.938rem 0 1.125rem 0;
  }

  .second-block__info {
    p {
      @include fontStyle(inherit, inherit, 1.563rem, 160%);
    }
  }

  .total-hours-worked {
    margin: 0 0 7.438rem 0;
    border: none;
    flex-wrap: wrap;
  }

  .total-hours-worked__item {
    width: 50%;
    font-size: 8.125rem;

    &:last-child {
      width: 100%;
    }
  }

  .total-hours-worked__text {
    width: 100%;
    justify-content: flex-end;

    span {
      transform: none;
    }

    padding-right: 0.5rem;
  }

  .total-hours-worked__text {
    font-size: 1rem;
  }

  .performance {
    margin-left: 1.25rem;
    padding: 6.25rem 1.875rem 6.25rem 0.938rem;
  }

  .meet-people-workers__item {
    flex-wrap: wrap;
    padding-left: 0.625rem;
  }

  .meet-people__job {
    span {
      padding-left: 0;
    }
  }

  .container--right {
    padding: 0 0 0 1.25rem;
  }

  .meet-people-specialization--sales {
    padding-bottom: 9.375rem;
  }

  .container--right {
    padding-left: 1.375rem;
  }

  .container-right-side {
    padding: 0 1.375rem;
  }

  .customers {
    .container {
      padding-left: 1.25rem;
    }
  }

  .customers-logo {
    margin: 6.25rem 0;
  }

  .ready-discuss {
    flex-wrap: wrap;
    padding-bottom: 4.688rem;
  }

  .email-links {
    padding-bottom: 1.563rem;
  }

  .fifth-block {
    &>.container {
      padding-bottom: 4.875rem;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1480px) {
  .navbar-collapse__item {
    display: inline-flex;

    .third-block {
      .container {
        @include paddingTablet-BorderBox();
      }
    }
  }

  .container-right-side {
    padding: 3.75rem 0 0 0;
  }

  .customers {
    .container {
      padding-left: 0;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1224px) {
  .technologies-info-block {
    width: 100%;
    max-width: 193px;
  }

  .total-hours-worked__item {
    font-size: 30vw;
  }

  .total-hours-worked__text {
    font-size: 3.5vw;
  }

  .fourth-block {
    &>.container-right-side {
      padding: 3.75rem 3.125rem 0 3.125rem;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .technologies-info-block {
    padding-left: 9.125rem;
  }

  .company-qualification {
    h1 {
      @include fontStyle(inherit, bold, 5.625rem, 100%);
    }

    padding-top: 17.313rem;
  }

  .container {
    @include paddingTablet-BorderBox();
  }

  .meet-people-specialization--sales {
    padding-bottom: 6.25rem;
  }

  .container--right {
    padding-left: 3.125rem;
  }

  .ready-discuss {
    padding-bottom: 6.25rem;
  }

  .customers {
    .container {
      padding: 0;
    }
  }

  .customers-logo {
    margin: 6.25rem 0 9.688rem 0;
  }

  .navbar-collapse__item {
    svg {
      display: none;
    }
  }

  .meet-people__header {
    p {
      animation: animate-table 6s linear infinite;
    }
  }

  .navbar {
    // ul {
    //   li {
    //     display: flex;
    //   }
    // }

    // flex-direction: column;
    // padding: 2% !important;
    // box-sizing: border-box;

    // .navbar-toggle {
    //   display: flex;
    // }
    padding: 1.75rem 0 0 0;
    box-sizing: border-box;
    justify-content: space-between !important;
  }

  .achievement__description {
    width: 100%;
    max-width: 50%;
  }

  .company-main-description {
    padding: 4.688rem 0 15.5rem 0;
  }

  .total-hours-worked {
    margin: 0 0 18.75rem 0;
  }

  .performance {
    margin-left: 3.125rem;
    padding: 9.375rem 3.313rem 9.375rem 1.75rem;
  }

  .technologies-info {
    padding: 1.563rem 0 4.813rem 0;
  }

  .email-links {
    @include displayProperties(flex, 100%, flex-end, unset, unset);
    padding-bottom: 3.125rem;
  }

  .fifth-block {
    &>.container {
      padding-bottom: 9.375rem;
    }
  }
}

@media only screen and (max-width: 1023px) {
  .technologies-name__number {
    display: flex;
  }

  .achievement__item {
    p {
      margin-right: 1.563rem;
    }
  }

  .achievement__item--right {
    p {
      margin-right: 1.313rem;
    }
  }

  .meet-people-name {
    padding-left: 0;
    max-width: 250px;
  }

  .meet-people-specialization--fullstack {
    &>.meet-people-name {
      padding-left: 0;
      max-width: 250px;
    }
  }

  .container--footer-grid {
    padding-bottom: 4.375rem;
  }

  .ready-discuss {
    max-width: none;
  }

  // .footer-nav__links{
  //   max-width: none;
  // }

  .ready-discuss__ready {
    font-size: 13.198vw;
    max-width: 320px;
  }

  .technologies {
    padding: 0;
  }

  .ready-discuss__discuss {
    font-size: 13.198vw;
  }

  .email {
    max-width: none;
  }

  .customers-logo {
    flex-wrap: wrap;
  }

  .customers-logo__item {
    @include displayProperties(flex, 50%, center, unset, unset);
  }

  .customers-logo__item--bottom {
    @include displayProperties(flex, 50%, center, center, unset);
    margin-top: 3.125rem;
  }

  .fifth-block {
    &>.container {
      flex-wrap: wrap;
    }
  }

  .email-section {
    margin-top: 4rem;
    justify-content: flex-start;
  }

  .email-links__item:last-child {
    padding-right: 0;
  }

  .email {
    max-width: none;
  }

  // .footer {
  //   &>.container {
  //     padding: 3.5rem 4%;
  //     flex-direction: row;
  //   }
  .footer {
    &>.container {
      grid-template-columns: 50% 50%;
      grid-template-areas:
        'footer-nav social-media'
        'footer-nav footer-address';
    }
  }

  .footer-nav__item {
    &:last-child {
      padding: 0;
    }
  }

  //   .container {
  //     padding: 0 3.375rem;
  //     flex-wrap: wrap;
  //   }
  // }

  // .social-media {
  //   @include displayProperties(inherit, auto, space-between, unset, column);
  //   max-width: none;
  //   margin: 0;
  //   padding: 0;
  //   order: 2;
  // }
  .footer-nav {
    grid-area: footer-nav;
  }

  .social-media {
    grid-area: social-media;
  }

  .footer-nav__links {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-nav__item {
    padding-bottom: 1.563rem;
  }

  .footer-address {
    grid-area: footer-address;
  }

  // .footer-nav {
  //   justify-content: space-between;
  //   padding-right: 15.875rem;
  //   order: 1;
  //   width: auto;
  // }

  .navbar-top {
    justify-content: space-between;
  }

  .navbar-logo {
    display: inline-flex;
  }

  .performance-category {
    padding: 0;
  }

  .company-main-description {
    p {
      margin: 0;
    }
  }

  .performance-category__item {
    flex-wrap: wrap;
  }

  .second-block {
    padding-top: 7.813rem;
  }

  .title--about {
    margin-bottom: 4.688rem;
  }

  .second-block__info {
    padding-bottom: 7.813rem;
  }

  .performance {
    box-sizing: border-box;
    width: auto;
  }

  .performance-category__item:last-child {
    margin: 0;
  }

  .customers-header {
    .title__text {
      padding-top: 7.813rem;
    }
  }

  .technologies-item {
    flex-flow: wrap;

    &:last-child {
      padding-bottom: 4.875rem;
    }
  }

  .technologies-name {
    width: 100%;
    padding: 4.688rem 0 0 0;
  }

  .technologies-info {
    width: 100%;
    justify-content: unset;
  }

  .meet-people__header {
    padding-bottom: 7.813rem;
    animation: none;

    // p {
    //   animation: animate-table 6s linear infinite;
    // }
  }

  .meet-people-specialization--fullstack {
    .meet-people-name {
      display: none;
    }
  }

  .meet-people-specialization--frontend {
    flex-direction: column;

    p {
      margin: 0;
    }

    .meet-people-name {
      padding: 1.563rem 0 0 0;
    }

    .meet-people-name__item {
      height: auto;
    }

    .meet-people-workers {
      margin-top: 0;
    }
  }

  .meet-people-specialization--backend {
    flex-direction: column;

    p {
      margin: 0;
    }

    .meet-people-name {
      padding: 1.563rem 0 0 0;
    }

    .meet-people-name__item {
      height: auto;
    }

    .meet-people-workers {
      margin-top: 0;
    }
  }

  .meet-people-specialization--sales {
    flex-direction: column;

    p {
      margin: 0;
    }

    .meet-people-name {
      padding: 1.563rem 0 0 0;
    }

    .meet-people-name__item {
      height: auto;
    }

    .meet-people-workers {
      margin-top: 0;
    }
  }
}

// @media only screen and (min-width: 1024px) {
//   .fifth-block {
//     & > .container {
//       padding: 0 2rem 10rem 9.375rem;
//     }
//   }
// }
@media only screen and (min-width: 1024px) and (max-width: 1250px) {
  .container {
    padding: 0 3rem;
  }

  .performance-category {
    padding-left: 3rem !important;
  }

  .footer-address {
    align-items: flex-end;
  }

  .fifth-block {
    .container {
      flex-wrap: wrap;
    }
  }

  .email {
    max-width: none;
    padding-top: 5rem;
  }

  .email-links__item {
    padding-bottom: 3rem;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1480px) {
  .navbar {
    justify-content: center;

    .container {
      justify-content: space-between;
    }
  }

  .navbar-collapse__item svg {
    display: none;
  }

  .achievement-block {
    max-width: none;
  }
}

@media only screen and (min-width: 1250px) and (max-width: 1620px) {
  .container {
    padding: 0;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1620px) {
  .ready-discuss__ready {
    // font-size: 8.198vw;
    max-width: 320px;
  }

  .ready-discuss__discuss {
    // font-size: 8.198vw;
    margin-right: 2rem;
  }

  .company-qualification {
    padding-top: 17.438rem;
  }

  .second-block {
    padding-top: 9.375rem;
  }

  .performance-category {
    padding: 15% 2rem 0 0;
    margin-left: auto;
  }

  .performance {
    box-sizing: border-box;
  }

  .technologies-name {
    font-size: 8.198vw;
    width: 100%;
    // max-width: 563px;
  }

  .technologies {
    padding-left: 0;
    margin-left: auto;
  }

  .footer-nav__links {
    padding: 0 5%;
  }

  .meet-people {
    padding-left: 0;
    margin-left: auto;
  }

  .customers {
    .container {
      padding: 0 2rem 0 2rem;
      margin-left: auto;
    }
  }

  .container-right-side {
    padding-left: 2rem;
    margin-left: auto;
  }

  // .swiper-controls-block{
  //   padding-left: 2rem;
  //   padding-right: 2rem;
  //   box-sizing: border-box;
  // }
  // .swiper-pagination{
  //   padding-right: 2rem;
  // }
  // .customers-header{
  //   .title__text{
  //     margin-left: 2rem;
  //   }
  // }
  // .fifth-block{
  //   .container{
  //     padding: 0 2rem 10rem 2rem;
  //     box-sizing: border-box;
  //   }
  // }
  // .navbar-collapse__item {
  //   display: inline-flex;
  // }
}

@media only screen and (max-width: 1224px) {
  .fourth-block {
    &>.container {
      padding: 0;
    }
  }

  // .footer {
  //   padding-bottom: 5.875rem;

  //   &>.container {
  //     justify-content: space-between;
  //   }
  // }

  // .social-media {
  //   min-width: 150px;
  //   width: auto;
  // }

  // .footer-address {
  //   min-width: 270px;
  //   width: auto;
  // }
}

@media only screen and (min-width: 1480px) and (max-width: 1620px) {
  .company-qualification {
    padding-top: 0;
  }

  .footer {
    padding: 0;
    box-sizing: border-box;
  }

  .navbar {
    left: 2rem;
  }
}

@media only screen and (max-width: 1480px) {
  .teymax-menu {
    flex-flow: row wrap;
  }

  .navbar {
    justify-content: center;

    .container {
      justify-content: space-between;
    }

    mix-blend-mode: normal;
  }

  .customers {
    padding: 0;
  }

  .container-right-side {
    @include displayProperties(flex, auto, center, unset, unset);
    max-width: 1250px;
    box-sizing: border-box;
  }

  .customers-header {
    .title__text {
      margin-left: 0;
      border-bottom: 1px solid rgba(24, 26, 33, 0.3);
    }
  }

  .fourth-block {
    padding-left: 0;
    background-color: #fff;
  }

  .teymax-top-menu {
    padding-bottom: 0;
    padding-right: 2.875rem;
  }

  .company-qualification {
    h1 {
      padding-top: 0;
    }
  }

  .second-block {
    &>.container {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .center-section {
    @include displayProperties(flex, 100%, center, unset, column);
    padding: 0;
  }

  .performance-category {
    box-sizing: border-box;
  }

  .description-header {
    padding-top: 4rem;
  }

  .title {
    width: 100%;
  }

  .container {
    justify-content: center;
    max-width: 1250px;
    box-sizing: border-box;
  }

  .meet-people {
    padding-left: 0;
  }

  .slider-controls-block,
  .slider-nav-block {
    padding-left: 0;
  }

  .navbar--fixed {
    top: 0;
  }

  .swiper-pagination {
    padding-right: 0;
  }

  .navbar {
    display: flex;
    width: 100%;
    max-width: none;
    left: 0;
    top: -1px;
    background-color: #181a21;

    // li {
    //   display: inline-flex;
    //   padding-right: 1rem;
    //   &:last-child{
    //     padding-right: 0;
    //   }
    // }
  }

  .navbar--light {
    background-color: white;
  }

  .footer {
    padding-bottom: 0rem;
  }

  .fifth-block {
    .container {
      margin-bottom: 0;
    }
  }
}

@media only screen and (min-width: 1220px) and (max-width: 1480px) {
  // .footer {
  //   &>.container {
  //     justify-content: space-between;
  //   }
  // }

  // .social-media {
  //   min-width: 150px;
  //   width: auto;
  // }

  // .footer-address {
  //   min-width: 270px;
  //   width: auto;
  //   align-items: flex-end;
  // }
}

@media only screen and (min-width: 1480px) {
  .navbar {
    .container {
      flex-direction: column;
    }
  }
}

@media only screen and (min-width: 1481px) and (max-width: 1620px) {
  .first-block {
    &>.container {
      flex-wrap: nowrap;
    }
  }

  .ready-discuss__ready {
    padding-right: 4rem;
  }

  .swiper-controls-block {
    padding-left: 2rem;
    padding-right: 2rem;
    box-sizing: border-box;
  }

  .swiper-pagination {
    padding-right: 2rem;
  }

  .customers-header {
    .title__text {
      margin-left: 2rem;
    }
  }

  .fifth-block {
    .container {
      padding: 0 2rem 10rem 9.375rem;
      box-sizing: border-box;
    }
  }

  .container {
    padding-right: 2rem;
    box-sizing: border-box;
  }

  // .customers-header {
  //   .title__text {
  //     margin-left: 25.5rem;
  //   }
  // }

  // .footer {
  //   padding: 0 2% 6.25rem 2%;
  //   box-sizing: border-box;
  // }

  // .footer-address {
  //   align-items: flex-end;
  // }

  // .navbar {
  //   left: 1.5rem;
  // }
}

@media only screen and (max-width: 1620px) {
  // .first-block {
  //   @include paddingTablet-BorderBox();
  // }

  .performance {
    justify-content: center;
  }

  .second-block {
    box-sizing: border-box;
  }

  .second-block-container {
    @include paddingTablet-BorderBox();
  }

  .fifth-block {
    padding: 5.625rem 0 0 0;
    box-sizing: border-box;
    justify-content: space-evenly;
  }
}

@media only screen and (max-width: 1770px) {
  .customers-black-square {
    display: none;
  }

  .customers-header {
    justify-content: center;
  }

  .tns-nav {
    padding-right: 0;
  }

  .fourth-block {
    display: block;
  }

  .container-right-side {
    margin: 0 auto;
  }

  .fourth-block {
    .container {
      margin: 0 auto;
    }
  }

  .swiperbutton-next {
    margin: 0 0 0 6.25rem !important;
  }
}

@media only screen and (min-width: 1920px) {

  .ready-discuss__ready,
  .ready-discuss__discuss {
    font-size: 6.198vw;
  }
}